/*--------------------
Body
---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  display: grid;
  place-items: center;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: azure;
}

.wrapper {
  display: flex;
  flex-direction: column;
  /* height: 400px;
  width: 320px; */
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 15px rgba(0, 0, 0m 0, .1);
}

.header {
  text-align: center;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: chartreuse;
  color: #000;
}


