/*--------------------
Body
---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  display: grid;
  place-items: center;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

/* .wrapper {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 320px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 15px rgba(0, 0, 0m 0, .1);
} */

.header {
  text-align: center;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: chartreuse;
  color: #000;
}

/* div > img:first-child {
  margin-top: 40px;
} */



/*--------------------
Background
--------------------*/
.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: linear-gradient(15deg, #d33f34 50%, #a61322 50.1%);
  z-index: 1;
  display: none;
}

