*, :after, :before {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body, html {
    height: 100vh;
    font-size: 100%;
}

body{
    position: relative;
    background: #fff;
    cursor: auto;
    font-family: "Helvetica Neue",  Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    color: #242424;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer
    ;
}

img {
    max-width: 100%;
    height: auto;
}

/* button {

} */

img {
    max-width: 100%;
    height: auto;
}

/* .product-image-container {

}

.product-card {

}

.product-image {

} */

.product-card .product-image-container .product-image {
    height: 100%;
    width: 100%;
    position: absolute;
    display: inline-block;
    left: 0;
}